{% extends 'fuel_out/main.html' %}
{% load staticfiles %}

{% block content %}

 <div class="content">
        <div class="row">
            <div class="col-md-8">

                <table  border="1">
                    <tr>
                    <th >Data</th><th >Fuel Station id</th><th >Fuel Station Name</th>
                      <th > Fuel Out Quantity </th><th>Fuel In Quantity </th>
                    </tr>
                    {% for post in posts %}
                    <tr>
                         <td >{{post.fuel_data}}</td>
                        <td >{{post.fuel_number}}</td><td>{{post.fuel_trk_name}}</td>
                        <td>{{post.fuel_summary_out}}</td><td >{{post.fuel_summary_in}}</td>
                      
                    </tr>
                    {% endfor %}
                </table>

            </div>
        </div>
 </div>
{% endblock content %}